*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
  height: 100vh;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.6;
    background-color: #1282A2;
    color: #FEFCFB;
    display: flex;
    flex-direction: column;
  }
  
  .quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }

  .menu-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
    position: fixed;
  }

  .menu-home ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 15px;
  }

  .menu-home img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }

  .container-main-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }

  .container-main-home h1{
    min-width: 200px;
  }

.container-main-icons-home{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  width: 250px;
}

.container-main-icons-home img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  fieldset {
    border: none;
    margin: 15px 0;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .answers {
    list-style-type: none;
    padding: 0;
  }
  
  .answers li {
    margin: 10px 0;
  }
  
  button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }